body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--dark-purple);
  background: linear-gradient(147deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.background {
  background: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  padding: 2rem;
  width: 50vw;
}

form input {
  padding: .6rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--dark-purple);
  background: transparent;
  color: var(--dark-purple);
}

form button {
  margin-top: 1rem;
  cursor: pointer;
  padding: .6rem 1rem;
  border-radius: 1rem;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background: var(--dark-purple);
}

form button:hover {
  transition: transform 500ms ease;
  transform: translateY(4px);
  background: linear-gradient(147deg, rgba(238, 174, 202, 1) 0%, rgba(66, 73, 128, 1) 100%);
}
